@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	--large-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

html,
input {
	font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	letter-spacing: -0.1px;
}

body {
	height: 100vh;
	width: 100vw;
}

main {
	width: 100vw;
	height: 100%;
	padding: 8em;
	overflow-y: auto;
	background-color: rgb(243, 243, 243);
}

.spacer {
	height: 1em;
}

.responsive {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 1em;
}

.repo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 25vh;
	background-color: white;
	box-shadow: var(--shadow);
	border-radius: 16px;
	padding: 24px;
	transition: box-shadow 300ms ease-in-out;
}

.repo:hover {
	box-shadow: var(--large-shadow);
}

.scroll {
	overflow-y: auto;
	height: 100%;
}

.ml {
	margin-left: 16px;
	margin-right: 16px;
}

p {
	font-size: 0.9em;
}

.tech {
	margin-top: 8px;
	display: block;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-top: 8px;
}

.buttons a {
	color: gray;
	font-size: 0.9em;
}

a {
	color: inherit;
}

a.highlight {
	color: black;
}

@media (max-width: 650px) {
	main {
		padding: 6em 2em;
	}
	.responsive {
		display: flex;
		flex-direction: column;
	}
	.repo {
		height: auto !important;
		padding: 2em 1.8em;
	}
}

@media (prefers-color-scheme: dark) {
	main {
		background-color: rgb(39, 39, 39);
	}
	.repo {
		background-color: rgb(15, 15, 15);
	}
	* {
		color: white;
	}
	.buttons a {
		color: rgb(199, 199, 199);
	}
	.highlight {
		color: white !important;
	}
	td,
	tr,
	th,
	table {
		border: 1px solid white !important;
	}
}

.uppercase {
	text-transform: uppercase;
}

p {
	font-size: 1em;
}

.r-title {
	font-size: 1.25em;
}

.repo strong {
	/* text-transform: uppercase; */
}

.huge {
	font-size: 3em;
}

ul {
	position: relative;
	list-style: none;
}

ul li::before {
	content: "→";
	position: relative;
	padding-right: 0.5em;
}

ul a {
	white-space: normal;
	text-decoration: none;
}

ul li u {
	margin-left: -3px;
}

li {
	font-size: 1em;
}

ol {
	list-style-position: inside;
}

ol li::marker {
	font-size: 0.9em;
}
